.SignupPage {
  width: 100%;
  border: 1ps solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #cccccc;
  padding: 10px;
  text-align: center;
}

.SignupPage input {
  display: block;
  font-size: 18px;
  padding: 5px;
  margin: 10px auto;
}
